body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
h1{
    font-size: 50px;
    margin: 0;
    line-height: 1.2;
}
h3{
    font-weight: bolder;
    font-size: 30px;
}
section{
    margin: 0 50px;
}
.p{
    padding-bottom: 25px;
}
.p2{
    padding-top: 25px;
}
.container{
    display: flex;
    margin: 50px 100px;
}
.borderleft::before{
    content: '';
    display: block;
    position: absolute;
    background: #fb5200;
    width: 3px;
    height: 95px;
    transform: translate(-350%, 15%);
}
.borderleft{
    padding-left: 12px;
}
.colorspan{
    color: #ffad5a;
}
.half-width{
    width: 50%;
    padding: 30px 0px 0px 0px;
}
.half-width img{
    width: 100%;
}
.button{
    border: 1px;
    border-radius: 5px;
    padding: 15px 35px;
    background-color: #fb5200;
    color: #fff;
}
.missiontext{
    text-align: center;
}
.missionbox{
    width: 310px;
    float: left;
    border: 1px ;
    border-radius: 30px;
    padding: 35px;
    margin-right: 35px;
    line-height: 1.2;
}
.missionbox:last-child{
    margin-right: 0;
}
.missionbox img{
    height: 150px;
}
#mission{
    background-color: #edf5f6;
}
#Vission{
    background-color: #ffeeee;
}
#Goals{
    background-color:#fff4d6;
}
.content{
    width: 60%;
    padding-top: 110px;
}
.img{
    width: 40%;
}
.leftside{
    padding-right: 50px;
}
.rightside{
    padding-left: 50px;
}
#project{
    margin-right: 0;
}
#develop{
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left;
}
#global{
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15%;
    background-position-y: 80%;
    padding-bottom: 100px;
}
.contactbox{
    display: flex;
}
#contact{
    text-align: center;
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 42%;
    background-position-x: 90%;
}
.contact{
    border: 1px;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 10px;
    width: 78.5%;
    text-align: center;
    background-color: #FFFFFF40;
    box-shadow: 5px 5px 9px;
}
footer{
    text-align:center;
    background-color: #0b0d17;
    color: #fff;
    padding: 25px 0;
    margin-top: 0;
}
footer .colorspan{
    color:#fb5200;
}